* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: gainsboro;
    height: fit-content;
}

.questionnaire-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionnaire-title{
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
}

form {
    width: 100%;
}

button {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
}

input{
    padding: 5px;
    border: 1px solid gray;
    width: 400px;
    border-radius: 5px;
}